@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
}

.appcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.rezicontainer {
    min-height:1000px;
}

.publishingDateContainer, .currentRezisContainer {
    width: 80vw;
    max-width: 1200px;
    min-height: 1000px;
    margin-top: 20px;
}

.publishingDate {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.reziGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.rezi {
    margin: 10px;
    min-height: 100px;
    border: 1px dotted rgba(0, 0, 0, 0.125);;
    
}

.rezicover {
    width: 100%;
}

.rezibody {
    padding: 20px;
}

.rezititle {
    font-size: 1.3em;
}

.rezirating {
    margin-bottom: 10px;
}

#spotifyplayer {
    position: fixed;
    bottom:0px;
    width: 100%;
}

button {
    color: #fff;
    background-color: #1db954;
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    padding: 11px 32px 9px;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    touch-action: manipulation;
    cursor: pointer;
}

button:hover {
    background-color: #1ed760;
}

.playbutton {
    margin-top: 20px;
}

.references {
    margin-top:20px;
    font-weight: 300;
}

.followedReference {
    text-align:justify;
    font-weight: 600;
}

.followedReference:before {
    content: '⭐'
}

.allReferences {
    margin-top: 20px;
    cursor: pointer;
    text-align:justify;
}

.marked > .rezibody > .rezititle:before {
    content: '⭐'
}

.rezi-7 {
    border-color: #ffc107;
}

.rezi-7 .rezirating {
    color: #ffc107;
}

.rezi-8 {
    border-color: #28a745;
}

.rezi-8 .rezirating {
    color: #28a745;
}

.rezi-9 {
    border-color: #dc3545
}

.rezi-9 .rezirating {
    color: #dc3545;
}

.rezi-10 {
    border-color: #dc3545
}

.rezi-10 .rezirating {
    color: #dc3545;
}

#spotifylogin {
    display:flex;
    width: 80vw;
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;;
}

.profilepic {
    height: 60px;
    border-radius: 50px;
}